h1, p {
  font-family: 'Black Han Sans', sans-serif;
text-align: center;
color: #FCE341;
}


body {background-color: #669;}

#parent {
display: inline-block;

}

#parent-wrapper{
background-color: #222;
border: 1px solid #FCE341;
border-radius: 50%;
text-align: center;
}
