h1, p {
font-family: 'Sedgwick Ave', cursive;
text-align: center;
color: #FCE341;
}


body {background-color: #669;}
#parent {
margin-left: 400px;

}

#parent-wrapper{
background-color: #222;
border: 1px solid #FCE341;
border-radius: 50%;
}
